body{
margin:0;
font-family:Arial;
background:#ffd9f5;
text-align:center;
}

.container{
padding:20px;
}

.camera{
position:relative;
width:320px;
margin:auto;
}

video{
width:100%;
border-radius:15px;
}

.overlay{
position:absolute;
top:0;
left:0;
width:100%;
pointer-events:none;
}

canvas{
display:none;
}

button{
margin-top:15px;
padding:12px 20px;
font-size:18px;
}

#download{
display:none;
margin-top:15px;
font-size:18px;
}